.jumbotron{
    padding-left: 200px;
    padding-right: 200px;
}
.btn-group-vertical{
    margin: 20px;
}
@media screen and (max-width: 768px) {
    .jumbotron{
        padding-right: 50px;
        padding-left: 50px;
    }
@media screen and (max-width: 500px) {
    .jumbotron{
        padding-left: 20px;
        padding-right: 20px;
    }
    .display-4{
        font-size: x-large;
    }
}